
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


body {
  margin: 20px;
  padding: 10px;
}

.fos_user_registration_register {
  margin: 100px;
}

#btn-on-main-page {
  font-weight: 800;
}